<a href="https://colab.research.google.com/github/J4sonN/MLprojects/blob/main/Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Complex Machine Learning Datasets

---

- Author: Quan Nguyen

---

#Dataset 1  and Machine Learning Model overview

- Data source: [Metabolic Syndrome](https://data.world/informatics-edu/metabolic-syndrome-prediction)  
- The dataset for analysis came from the NHANES initiative where the following variables were combined from multiple tables with SQL: abnormal waist circumference, triglycerides above 150, HDL cholesterol below 50 in women or 40 in men, history of hypertension and mildly elevated fasting blood sugar (100-125). Numerous other variables were added, such as uric acid, race, income, etc. that might contribute to the model but we will not sure, until we test the model.
- The target of this dataset is to predict the diagnosis of metabolic syndrome.
- One row represents a patient's info 
- This is a classification problem

In [4]:
#pandas
import pandas as pd
#numpy
import numpy as np 
#matplotlib and seaborn
import matplotlib.pyplot as plt
import seaborn as sns

from google.colab import drive
drive.mount ('/content/drive')

Mounted at /content/drive

In [5]:
ms = pd.read_csv('/content/drive/MyDrive/Projects/Metabolic  Syndrome.csv')
ms.head()

,seqn,Age,Sex,Marital,Income,Race,WaistCirc,BMI,Albuminuria,UrAlbCr,UricAcid,BloodGlucose,HDL,Triglycerides,MetabolicSyndrome
0,62161,22,Male,Single,8200.0,White,81.0,23.3,0,3.88,4.9,92,41,84,No MetSyn
1,62164,44,Female,Married,4500.0,White,80.1,23.2,0,8.55,4.5,82,28,56,No MetSyn
2,62169,21,Male,Single,800.0,Asian,69.6,20.1,0,5.07,5.4,107,43,78,No MetSyn
3,62172,43,Female,Single,2000.0,Black,120.4,33.3,0,5.22,5.0,104,73,141,No MetSyn
4,62177,51,Male,Married,NaN,Asian,81.1,20.1,0,8.13,5.0,95,43,126,No MetSyn

In [8]:
print(f"There is {ms.shape[0]} rows, and {ms.shape[1]} columns in the data")

There is 2401 rows, and 15 columns in the data

#Dataset 2 and Machine Learning Model Overview

- Data Source: [Goldman Sachs 2000-2023](https://www.kaggle.com/datasets/kapturovalexander/goldman-sachs-and-jpmorgan-chase-share-prices?select=The+Goldman+Sachs.csv)
- Goldman Sachs is an American multinational investment bank and financial services company. Founded in 1869, Goldman Sachs is headquartered at 200 West Street in Lower Manhattan, with regional headquarters in London, Warsaw, Bangalore, Hong Kong, Tokyo, Dallas and Salt Lake City, and additional offices in other international financial centers. Goldman Sachs is the second largest investment bank in the world by revenue and is ranked 57th on the Fortune 500 list of the largest United States corporations by total revenue. It is considered a systemically important financial institution by the Financial Stability Board.
- The target is to predict the closing stock's price of the Goldman Sachs
- One row represents price ranges in one day of Goldman Sachs
- This is a regression problem.

In [10]:
gs = pd.read_csv('/content/drive/MyDrive/Projects/The Goldman Sachs.csv')
gs.head()

         Date     Open     High     Low    Close  Adj Close   Volume
0  2000-01-03  94.1875  94.3750  87.750  88.3125  65.690536  1822600
1  2000-01-04  87.0000  87.5000  82.250  82.7500  61.552921  1647700
2  2000-01-05  80.8750  81.8750  78.375  78.8750  58.670509  1516600
3  2000-01-06  78.6250  84.5000  78.625  82.2500  61.180992  1845100
4  2000-01-07  83.0625  83.1875  79.875  82.5625  61.413429  1127400

In [12]:
print(f"There is {gs.shape[0]} rows, and {gs.shape[1]} columns in the data")

There is 5863 rows, and 7 columns in the data